@use "@juki-team/base-ui/styles/mixins" as utils;

.content-side-right-bar-top {
  .judge-admin, .registered {
    height: var(--pad-xl);
  }
}

.problem-index {
  padding: 3px 10px;
  
  &.wrong, &.accepted {
    .jk-icon {
      border-radius: 50%;
      color: var(--cr-we);
      position: absolute;
      top: -6px;
      right: -6px;
    }
  }
  
  &.wrong .jk-icon {
    background-color: var(--cr-er);
  }
  
  &.accepted .jk-icon {
    background-color: var(--cr-ss);
  }
}

.contest-scoreboard {
  .jk-table-view-tools {
    flex-direction: row;
  }
  
  &.is-quiet {
    .jk-view-container {
      box-shadow: 0 0 6px var(--cr-io-dk);
      outline: 6px var(--cr-io-lt);
    }
  }
  
  &.is-frozen {
    .jk-view-container {
      box-shadow: 0 0 6px var(--cr-io-lt);
      outline: 6px var(--cr-io-lt);
    }
  }
}

.contest-overview {
  height: auto;
  @include utils.sm {
    flex-direction: column-reverse !important;
  }
  
  > div:first-child {
    @include utils.sm {
      padding-top: 0;
    }
  }
  
  > div:last-child {
    @include utils.sm {
      padding-bottom: 0;
    }
  }
}

.cell-score-highlight {
  background-color: var(--color, transparent);
  @include utils.transition-slow(background-color);
  //animation-name: score-highlight;
  //animation-duration: 1s;
  //animation-iteration-count: 5;
  //
  //@keyframes score-highlight {
  //  30% {background-color: transparent; }
  //  50% { background-color: var(--color, --cr-at); }
  //  100% {background-color: transparent; }
  //}
}

.cell-score-highlight-diff {
  &.focus {
    animation-name: score-highlight-diff-focus;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
  }
}

@keyframes score-highlight-diff-focus {
  0% { background-color: var(--cr-at-lt); }
  50% { background-color: var(--cr-at); }
  100% { background-color: var(--cr-at-lt); }
}

.is-first-accepted {
  > .jk-icon {
    filter: drop-shadow(0px 1px 1px var(--cr-we)) drop-shadow(1px 0px 1px var(--cr-we)) drop-shadow(0px -1px 1px var(--cr-we)) drop-shadow(-1px 0px 1px var(--cr-we)) drop-shadow(0px 0px 2px var(--balloon-color)) drop-shadow(0px 0px 1px var(--balloon-color));
  }
  
  > a {
    filter: drop-shadow(0px 0px 1px var(--cr-we)) drop-shadow(0px 0px 2px var(--balloon-color));
    //color: var(--cr-we);
  }
}

.jk-table-row:not(:hover) {
  .to-active-on-hover {
    opacity: 0;
  }
}
