@use "styles/abstracts" as utils;

.contest-content-side-right-bar-bottom {
  padding: var(--pad-md) 0;
  
  p {
    text-align: center;
  }
}

.content-side-right-bar-top {
  .judge-admin, .registered {
    height: var(--pad-xl);
  }
}

.problem-index {
  padding: 3px 10px;
  
  &.wrong, &.accepted {
    .jk-icon {
      border-radius: 50%;
      color: var(--t-color-white);
      position: absolute;
      top: -6px;
      right: -6px;
    }
  }
  
  &.wrong .jk-icon {
    background-color: var(--t-color-error);
  }
  
  &.accepted .jk-icon {
    background-color: var(--t-color-success);
  }
}

.contest-problem-split-pane {
  .jk-code-mirror-editor-layout {
    border-radius: 0;
  }
}

.contest-scoreboard {
  .jk-table-view-tools {
    flex-direction: row;
  }
}

.jk-data-viewer-toolbar {
  > div { // extra-buttons
    margin-left: var(--pad-t);
  }
}

.contest-overview {
  height: auto;
  @include utils.sm {
    flex-direction: column-reverse !important;
  }
  
  > div:first-child {
    @include utils.sm {
      padding-top: 0;
    }
  }
  
  > div:last-child {
    @include utils.sm {
      padding-bottom: 0;
    }
  }
}
