@use "@juki-team/base-ui/dist/styles/abstracts" as utils;

.content-side-right-bar-top {
  .judge-admin, .registered {
    height: var(--pad-xl);
  }
}

.problem-index {
  padding: 3px 10px;
  
  &.wrong, &.accepted {
    .jk-icon {
      border-radius: 50%;
      color: var(--t-color-white);
      position: absolute;
      top: -6px;
      right: -6px;
    }
  }
  
  &.wrong .jk-icon {
    background-color: var(--t-color-error);
  }
  
  &.accepted .jk-icon {
    background-color: var(--t-color-success);
  }
}

.contest-scoreboard {
  .jk-table-view-tools {
    flex-direction: row;
  }
}

.contest-overview {
  height: auto;
  @include utils.sm {
    flex-direction: column-reverse !important;
  }
  
  > div:first-child {
    @include utils.sm {
      padding-top: 0;
    }
  }
  
  > div:last-child {
    @include utils.sm {
      padding-bottom: 0;
    }
  }
}

.highlight {
  background-color: white;
  animation-name: test;
  animation-duration: 3s;
}

.is-first-accepted {
  > .jk-icon {
    filter: drop-shadow(0px 1px 1px var(--t-color-white)) drop-shadow(1px 0px 1px var(--t-color-white)) drop-shadow(0px -1px 1px var(--t-color-white)) drop-shadow(-1px 0px 1px var(--t-color-white)) drop-shadow(0px 0px 2px var(--balloon-color)) drop-shadow(0px 0px 1px var(--balloon-color));
  }
  
  > a {
    filter: drop-shadow(0px 0px 1px var(--t-color-white)) drop-shadow(0px 0px 2px var(--balloon-color));
    //color: var(--t-color-white);
  }
}

@keyframes test {
  0% {background-color: var(--t-color-white);}
  50% {background-color: var(--t-color-secondary);}
  100% {background-color: var(--t-color-white);}
}
