@import "@juki-team/base-ui/dist/styles/abstracts/index";

.contest-content-side-right-bar-bottom {
  padding: var(--pad-md) 0;
  
  p {
    text-align: center;
  }
}

.content-side-right-bar-top {
  .judge-admin, .registered {
    height: var(--pad-xl);
  }
}

.problem-index {
  padding: 3px 10px;
  
  &.wrong, &.accepted {
    .jk-icon {
      border-radius: 50%;
      color: var(--t-color-white);
      position: absolute;
      top: -6px;
      right: -6px;
    }
  }
  
  &.wrong .jk-icon {
    background-color: var(--t-color-error);
  }
  
  &.accepted .jk-icon {
    background-color: var(--t-color-success);
  }
}

.contest-problem-split-pane {
  .jk-code-mirror-editor-layout {
    border-radius: 0;
  }
}

.contest-scoreboard {
  .jk-table-view-tools {
    flex-direction: row;
  }
}

.popover-padding-xt {
  > div {
    padding: var(--pad-xt);
  }
}

.jk-data-viewer-toolbar {
  > div { // extra-buttons
    margin-left: var(--pad-t);
  }
}

.jk-select-layout.jk-button-secondary {
  border: none;
  padding: 0 !important;
  
  .jk-select {
    width: 100%;
    border: none;
    background-color: transparent;
    
    .input-icon {
      color: inherit;
      top: 4px;
    }
  }
}

.contest-overview {
  height: auto;
  @include sm {
    flex-direction: column-reverse !important;
  }
  
  > div:first-child {
    @include sm {
      padding-top: 0;
    }
  }
  
  > div:last-child {
    @include sm {
      padding-bottom: 0;
    }
  }
}
