@import "@juki-team/base-ui/dist/styles/abstracts/index";

.contest-content-side-right-bar-bottom {
  padding: var(--pad-md) 0;
  
  p {
    text-align: center;
  }
  
  > div {
    border: 1px solid var(--t-color-gray-6);
  }
}

.content-side-right-bar-top {
  .judge-admin, .registered {
    height: var(--pad-xl);
  }
}

.problem-card {
  width: calc(var(--screen-col-width) * 3 + var(--screen-col-pad-width) * 2);
  height: 254px;
  padding: 0 var(--pad-md);
  
  .problem-status {
    width: 100%;
  }
  
  .problem-index {
    position: relative;
    padding: 3px 10px;
    
    &.wrong, &.accepted {
      .jk-icon {
        border-radius: 50%;
        color: var(--t-color-white);
        position: absolute;
        top: -6px;
        right: -6px;
      }
    }
    
    &.wrong .jk-icon {
      background-color: var(--t-color-error);
    }
    
    &.accepted .jk-icon {
      background-color: var(--t-color-success);
    }
  }
  
  .problem-id {
  
  }
}

.problem-head-box {
  padding: var(--pad-md) 0 0 0;
  position: relative;
  
  > .back-link {
    left: var(--pad-md);
  }
}

.contest-problem-split-pane {
  height: 100%;
  
  .problem-statement-layout {
    height: 100%;
    overflow: auto;
  }
}

.contest-scoreboard {
  .jk-table-view-tools {
    > div:first-child {
      display: none;
    }
  }
  
  .own {
    > div {
      padding: 0 var(--pad-t);
    }
  }
}

.contest-live-timer {
  position: absolute;
  top: -10px;
  right: 0;
}

.popover-padding-xt {
  > div {
    padding: var(--pad-xt);
  }
}

.jk-data-viewer-toolbar {
  > div { // extra-buttons
    margin-left: var(--pad-t);
  }
}

.jk-select-layout.jk-button-secondary {
  border: none;
  padding: 0 !important;
  
  .jk-select {
    width: 100%;
    border: none;
    background-color: transparent;
    
    .input-icon {
      color: inherit;
      top: 4px;
    }
  }
}
