@use "@juki-team/base-ui/dist/styles/abstracts" as utils;

.content-side-right-bar-top {
  .judge-admin, .registered {
    height: var(--pad-xl);
  }
}

.jk-split-pane.contest-problem-split-pane {
  > .jk-split-first-pane {
    overflow: auto;
  }
}

.jk-full-screen-overlay {
  background: var(--t-color-white-dark);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-popover);
  width: calc(100% - var(--pad-md) * 2);
  height: calc(100% - var(--pad-md) * 2);
  padding: var(--pad-md);
}

.problem-index {
  padding: 3px 10px;
  
  &.wrong, &.accepted {
    .jk-icon {
      border-radius: 50%;
      color: var(--t-color-white);
      position: absolute;
      top: -6px;
      right: -6px;
    }
  }
  
  &.wrong .jk-icon {
    background-color: var(--t-color-error);
  }
  
  &.accepted .jk-icon {
    background-color: var(--t-color-success);
  }
}

.contest-scoreboard {
  .jk-table-view-tools {
    flex-direction: row;
  }
}

.contest-overview {
  height: auto;
  @include utils.sm {
    flex-direction: column-reverse !important;
  }
  
  > div:first-child {
    @include utils.sm {
      padding-top: 0;
    }
  }
  
  > div:last-child {
    @include utils.sm {
      padding-bottom: 0;
    }
  }
}

.highlight {
  background-color: white;
  animation-name: test;
  animation-duration: 3s;
}

@keyframes test {
  0% {background-color: var(--t-color-white);}
  50% {background-color: var(--t-color-secondary);}
  100% {background-color: var(--t-color-white);}
}
