@use "@juki-team/base-ui/styles/mixins" as utils;
@use "../components/problem/styles" as problemStyles;
@use "../components/contest/styles" as contestStyles;

body {
  margin: 0;
  
  --left-vertical-menu-width: 48px !important;
  
  @include utils.md {
    --top-horizontal-menu-height: 56px;
  }
  @include utils.lg {
    --top-horizontal-menu-height: 56px;
  }
}

.image-404 {
  max-height: calc(var(--100VH) - 300px);
  width: calc(100vw - 400px);
  max-width: 512px;
  min-width: 200px;
}

li > * {
  vertical-align: text-top;
}

.letter-tag {
  margin-right: 4px;
  height: 20px;
  width: 20px;
  min-width: 20px;
  box-sizing: border-box;
  padding: 0;
  line-height: 20px;
}

.max-popover-select-size {
  .jk-select-options {
    width: 300px !important;
  }
}

.text-editor {
  .jk-md-math-viewer-layout {
    //@extend .bc-we;
    min-height: 64px;
  }
  
  .jk-md-math-editor-layout {
    .content-preview {
      box-sizing: border-box;
    }
  }
}

.text-head-field, .text-head-field span.tx-s {
  line-height: 16px;
}

.jk-menu-collapse {
  top: 56px !important;
}

.height-100-percent {
  height: 100%;
}

.sheet-page {
  > div > div > .jk-md-math-viewer-layout {
    width: 100%;
    background-color: var(--t-color-white);
    //@extend .jk-border-radius-inline;
    padding: 0 var(--pad-t);
    box-sizing: border-box;
  }
  
  .jk-md-math-editor-layout {
    background-color: var(--t-color-white);
    width: 100%;
    min-height: 48px;
  }
  
  > div {
    margin: 0 0 var(--pad-xt) 0;
  }
}

.sponsored-by {
  position: fixed;
  bottom: 0;
  right: var(--pad-md);
  font-size: 10px;
  background: var(--t-color-primary-dark);
  color: var(--t-color-primary-text);
  line-height: 1;
  padding: 1px 4px 0 4px;
  border-radius: 4px 4px 0 0;
  
  > a {
    cursor: pointer !important;
    //@extend .fw-bd;
  }
}

.diff-body-modal {
  overflow: auto;
  
  .d2h-file-header {
    display: none;
  }
  
  .d2h-diff-tbody {
    position: relative;
  }
}


/*****************************************************************************************/
html {
  overflow: hidden;
}

.snowflake {
  position: absolute;
  width: 20px;
  height: 20px;
  //background-image: url("https://cdn-icons-png.flaticon.com/512/2583/2583434.png");
  //background-image: url("https://svgsilh.com/svg/38114.svg");
  background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.0\" width=\"1220.000000pt\" height=\"1280.000000pt\" viewBox=\"0 0 1220.000000 1280.000000\" preserveAspectRatio=\"xMidYMid meet\"><g transform=\"translate(0.000000,1280.000000) scale(0.100000,-0.100000)\" fill=%22%23E0F7FA%22 stroke=\"none\"><path d=\"M4995 12366 c-165 -239 -300 -439 -300 -446 0 -6 194 -136 430 -289 l430 -277 3 -307 2 -308 -42 25 c-178 102 -830 466 -837 466 -14 0 -574 -912 -563 -919 6 -3 215 -127 465 -276 l454 -270 -5 -200 c-2 -110 -7 -256 -10 -324 l-7 -125 -175 -93 c-96 -52 -223 -119 -281 -150 l-105 -56 -290 153 c-159 84 -291 155 -293 156 -2 2 11 254 28 560 17 307 29 559 27 561 -4 5 -53 10 -700 83 -247 28 -450 50 -451 48 -1 -2 -7 -270 -13 -597 -6 -326 -13 -595 -15 -598 -5 -5 -525 274 -545 291 -9 9 -19 165 -38 586 -14 316 -27 580 -28 585 -3 9 -1071 -36 -1080 -46 -2 -2 3 -76 10 -164 56 -648 75 -872 80 -950 l7 -90 -494 -229 c-272 -126 -498 -232 -503 -237 -4 -4 97 -230 225 -503 l233 -495 211 108 c115 60 325 167 465 239 l255 130 258 -148 c142 -81 260 -150 263 -153 3 -2 -191 -121 -430 -262 l-435 -258 67 -126 c334 -628 438 -821 446 -821 4 0 218 117 473 261 256 143 471 258 477 255 6 -3 130 -78 276 -168 l265 -163 -3 -290 c-2 -160 -5 -304 -8 -320 -5 -27 -34 -48 -290 -207 l-284 -177 -58 38 c-319 212 -876 571 -883 569 -10 -4 -692 -928 -688 -932 2 -2 235 -141 518 -311 353 -211 509 -310 500 -316 -8 -4 -130 -79 -272 -167 l-258 -159 -521 270 c-286 148 -523 265 -528 261 -4 -5 -103 -194 -219 -421 l-212 -411 3 -77 3 -77 512 -240 c487 -229 513 -242 512 -267 0 -14 -21 -263 -47 -553 l-48 -528 31 -5 c63 -10 1055 -88 1060 -83 5 5 15 172 34 568 6 113 13 264 17 337 l6 131 260 152 c143 83 262 150 264 148 2 -2 7 -229 10 -505 l7 -500 131 -6 c298 -14 936 -30 943 -23 4 3 10 245 13 537 4 299 11 533 16 538 5 5 131 77 281 160 l272 151 218 -131 c120 -73 243 -149 274 -170 l56 -38 6 -128 c4 -70 10 -221 13 -334 l7 -206 -499 -252 c-274 -139 -500 -254 -501 -255 -3 -2 456 -1058 462 -1064 2 -2 239 127 527 287 l523 291 6 -92 c4 -51 9 -194 13 -318 l6 -225 -494 -315 c-314 -200 -494 -320 -491 -328 3 -7 123 -197 267 -422 l263 -409 77 -1 76 0 349 243 c191 133 391 273 444 310 l96 66 442 -309 c262 -184 451 -310 464 -310 18 1 84 90 322 434 165 239 300 439 300 446 0 6 -193 136 -430 289 l-430 277 -3 307 -2 308 42 -25 c178 -102 830 -466 837 -466 8 0 575 910 569 914 -1 2 -199 119 -438 261 -239 142 -446 266 -460 275 l-25 18 13 323 c8 178 14 324 15 325 1 1 124 69 274 151 l271 150 289 -153 c158 -85 292 -155 297 -157 4 -1 -6 -254 -23 -562 -17 -307 -29 -560 -27 -562 4 -5 53 -10 700 -83 247 -28 450 -50 451 -48 1 2 7 270 13 597 6 326 13 595 15 598 5 5 525 -274 545 -291 9 -9 19 -165 38 -586 14 -316 27 -580 28 -585 3 -9 1071 36 1080 46 2 2 -3 76 -10 164 -56 648 -75 872 -80 950 l-7 90 494 229 c272 126 498 232 503 237 4 4 -97 230 -225 503 l-233 495 -211 -108 c-115 -60 -325 -167 -465 -239 l-255 -130 -258 148 c-142 81 -260 150 -263 153 -3 2 191 121 430 262 l435 258 -67 126 c-334 628 -438 821 -446 821 -4 0 -217 -117 -473 -260 l-465 -261 -67 40 c-36 23 -160 100 -276 174 l-210 132 3 245 c1 135 5 277 8 315 l6 71 284 176 284 177 58 -38 c319 -212 876 -571 883 -569 10 4 692 928 688 932 -2 2 -235 141 -518 311 -353 211 -509 310 -500 316 8 4 130 79 272 167 l258 159 521 -270 c286 -148 523 -265 528 -261 4 5 103 194 219 421 l212 411 -3 77 -3 77 -512 240 c-487 229 -513 242 -512 267 0 14 21 263 47 553 l48 528 -31 5 c-63 10 -1055 88 -1060 83 -5 -5 -15 -172 -34 -568 -6 -113 -13 -264 -17 -337 l-6 -131 -260 -152 c-143 -83 -262 -150 -264 -148 -2 2 -7 229 -10 505 l-7 500 -131 6 c-299 14 -936 30 -943 23 -4 -4 -10 -245 -13 -536 -4 -291 -8 -531 -11 -533 -11 -10 -590 -287 -599 -287 -13 0 -97 52 -321 198 l-186 122 -6 118 c-4 64 -10 212 -13 328 l-7 211 499 253 c274 138 500 253 501 254 3 2 -456 1058 -462 1064 -2 2 -239 -127 -527 -287 l-523 -291 -6 92 c-4 51 -9 194 -13 318 l-6 225 494 315 c323 206 494 320 491 328 -3 8 -123 197 -267 422 l-263 409 -77 1 -76 0 -349 -243 c-191 -133 -391 -273 -444 -310 l-96 -66 -442 309 c-262 184 -451 310 -464 310 -18 -1 -84 -90 -322 -434z\"/>  </g>  <script xmlns=\"\"/></svg>");
  background-size: contain; /* Ajusta la imagen */
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0.4;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5)); /* Sombra exacta */
  animation: fall 5s linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.4;
  }
  100% {
    transform: translateY(800px) scale(0.2); /* Caída más larga (800px) */
    opacity: 0;
  }
}

#jk-two-content-section-second-panel > .two-content-layout-body > .jk-tabs-inline-body-motion-layout > .jk-split-pane.jk-problem-view-layout > .jk-split-first-pane > .jk-problem-view-statement.jk-pg-sm {
  padding-left: 0;
}

.jk-tour-mask {
  svg defs mask {
    rect:last-child {
      rx: var(--border-radius-inline) !important;
      ry: var(--border-radius-inline);
    }
  }
}

.reactour__popover {
  border-radius: var(--border-radius-inline);
  padding: var(--pad-sm);
}

.hoverable-elevation {
  &:hover {
    @include utils.elevation(1);
  }
}

.jk-horizontal-menu-layout-container .jk-menu-main-layout {
  overflow: auto;
}

.code-viewer-to-print {
  position: fixed;
  top: 200vh;
  left: 200vw;
  z-index: -1;
  
  div[data-tooltip-id="jk-tooltip"] {
    display: none;
  }
}

.jk-full-screen-overlay.wh-100.ht-100 {
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
