@import "@juki-team/base-ui/dist/styles/base";
@import "components/NavigationBar/styles";
@import "components/problem/styles";
@import "components/profile/styles";
@import "components/contest/styles";

body {
  @include md {
    --top-horizontal-menu-height: 56px;
  }
  @include lg {
    --top-horizontal-menu-height: 56px;
  }
  
  margin: 0;
  
  .jk-app {
    overflow: hidden;
    width: 100vw;
    height: var(--100VH);
  }
}

.image-404 {
  max-height: calc(var(--100VH) - 300px);
  width: calc(100vw - 400px);
  max-width: 512px;
  min-width: 200px;
}

li > * {
  vertical-align: text-top;
}

.letter-tag {
  margin-right: 4px;
  height: 20px;
  width: 20px;
  min-width: 20px;
  box-sizing: border-box;
  padding: 0;
  line-height: 20px;
}

.max-popover-select-size {
  .jk-select-options {
    width: 300px !important;
  }
}

.jk-md-math-editor-style {
  .content-preview {
    min-height: 141px;
  }
}

.text-lang-edit {
  min-height: 215px;
  
  .jk-md-math-editor-layout {
    @extend .jk-md-math-editor-style;
  }
}

.text-edit {
  .jk-md-math-editor-layout {
    @extend .jk-md-math-editor-style;
    
    .content-preview {
      box-sizing: border-box;
    }
  }
}

.text-head-field, .text-head-field span.tx-s {
  line-height: 16px;
}

.only-icon.jk-button-text { // used on base-ui
  &:hover {
    background: var(--t-color-shadow-light) !important;
  }
}

.jk-menu-collapse {
  top: 56px !important;
}

.height-100-percent {
  height: 100%;
}

.sheet-page {
  > div > div > .jk-md-math-viewer-layout {
    width: 100%;
    background-color: var(--t-color-white);
    @extend .jk-border-radius-inline;
    padding: 0 var(--pad-t);
    box-sizing: border-box;
  }
  
  .jk-md-math-editor-layout {
    background-color: var(--t-color-white);
    width: 100%;
    min-height: 48px;
  }
  
  > div {
    margin: 0 0 var(--pad-xt) 0;
  }
}

.two-content-section {
  > div:last-child {
  
  }
}
