@import "@bit/juki-team.juki.base-ui/components/styles/base/_index.scss";
@import "components/NavigationBar/styles";
@import "components/Layouts/styles";
@import "components/problem/styles";
@import "components/contest/styles";

body {
  margin: 0;
  background-color: var(--t-color-white-2);
  
  .jk-app {
    width: 100vw;
    height: var(--100VH);
  }
}

.flex-1 {
  flex: 1;
}

.image-404 {
  max-height: calc(var(--100VH) - 300px);
  width: calc(100vw - 400px);
  max-width: 512px;
  min-width: 200px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: var(--t-color-primary-light);
}

.back-link {
  position: absolute;
  left: 0;
}

.notification-wrapper {
  margin-top: var(--top-horizontal-menu-height);
  
  .message-content {
    min-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.float-top-right {
  z-index: 1;
  position: absolute !important;
  top: var(--pad-t);
  right: var(--pad-t);
}

.jk-table-inline-header {
  border: 1px solid var(--t-color-gray-5);
  border-radius: var(--border-radius-inline) var(--border-radius-inline) 0 0;
  color: var(--t-color-primary);
  font-weight: var(--weight-semi-bold);
  text-transform: uppercase;
}

.jk-table-inline-row {
  border-bottom: 1px solid var(--t-color-gray-5);
  border-left: 1px solid var(--t-color-gray-5);
  border-right: 1px solid var(--t-color-gray-5);
  
  &:last-child {
    border-radius: 0 0 var(--border-radius-inline) var(--border-radius-inline);
  }
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.flex-3 {
  flex: 3;
}
