@import "@bit/juki-team.juki.base-ui/components/styles/base/_index.scss";
@import "components/NavigationBar/styles";
@import "components/Layouts/styles";
@import "components/problem/styles";

body {
  margin: 0;
  background-color: var(--t-color-white-2);
  
  .jk-app {
    width: 100vw;
    height: var(--100VH);
  }
}

.flex-1 {
  flex: 1;
}

.image-404 {
  max-height: calc(var(--100VH) - 300px);
  width: calc(100vw - 400px);
  max-width: 512px;
  min-width: 200px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: var(--t-color-primary-light);
}

.back-link {
  position: absolute;
  left: 0;
}

.notification-wrapper {
  margin-top: var(--top-horizontal-menu-height);
  
  .message-content {
    min-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
