@import "@juki-team/base-ui/dist/styles/base";
@import "components/NavigationBar/styles";
@import "components/Layouts/styles";
@import "components/problem/styles";
@import "components/profile/styles";
@import "components/contest/styles";

body {
  @include md {
    --top-horizontal-menu-height: 56px;
  }
  @include lg {
    --top-horizontal-menu-height: 56px;
  }
  
  margin: 0;
  
  .jk-app {
    overflow: hidden;
    width: 100vw;
    height: var(--100VH);
  }
}

.image-404 {
  max-height: calc(var(--100VH) - 300px);
  width: calc(100vw - 400px);
  max-width: 512px;
  min-width: 200px;
}

.notification-wrapper {
  //margin-top: var(--top-horizontal-menu-height);
  
  .message-content {
    //min-height: 42px;
    //display: flex;
    //justify-content: center;
    //align-items: center;
  }
}

.relative {
  position: relative;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.absolute {
  position: absolute;
  
  &.top {
    top: var(--pad-md);
  }
  
  &.right {
    right: var(--pad-md);
  }
  
  &.bottom {
    bottom: var(--pad-md);
  }
  
  &.left {
    left: var(--pad-md);
  }
}

li > * {
  vertical-align: text-top;
}

.letter-tag {
  margin-right: 4px;
  height: 20px;
  width: 20px;
  min-width: 20px;
  box-sizing: border-box;
  padding: 0;
  line-height: 20px;
}

.max-popover-select-size {
  .jk-select-options {
    width: 300px !important;
  }
}

.jk-md-math-editor-style {
  .content-preview {
    min-height: 141px;
  }
}

.text-lang-edit {
  min-height: 215px;
  
  .jk-md-math-editor-layout {
    @extend .jk-md-math-editor-style;
  }
}

.problem-statement.editing {
  .jk-md-math-editor-layout {
    @extend .jk-md-math-editor-style;
  }
}

.width-120px {
  width: 120px;
  display: none;
}

.text-head-field, .text-head-field span.tx-s {
  line-height: 16px;
}

.text-head-field.jk-row.left, .field.jk-row.left {
  margin-left: var(--pad-xt);
}

.only-icon.jk-button-text {
  &:hover {
    background: var(--t-color-shadow-light) !important;
  }
}

.cm-editor {
  @extend .jk-br-ie;
  
  &.cm-focused {
    @extend .elevation-1;
    outline: none !important;
  }
}

.jk-tabs-inline {
  .jk-tabs-headers-inline {
    overflow: auto;
    
    > div {
      padding: var(--pad-xt) var(--pad-t);
      position: relative;
      cursor: pointer;
      
      &.selected {
        font-weight: var(--weight-bold);
        
        &:after {
          content: "";
          width: 100%;
          height: 4px;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: var(--t-color-secondary);
        }
      }
    }
  }
}

.jk-table-head-sticky {
  background-color: var(--t-color-white-2) !important;
}

.jk-table-rows-box.sticky .jk-table-row > div {
  background: var(--t-color-white-2) !important;
}

.jk-breadcrumb {
  padding-top: var(--pad-xt);
  padding-bottom: var(--pad-xt);
  border-bottom: 1px solid var(--t-color-gray-5);
  
  .separator {
    padding: 0 4px;
    color: var(--t-color-gray-5);
    
    &:first-child {
      padding-left: 0;
    }
  }
  
  .link:hover {
    > span {
      text-decoration: underline;
    }
  }
  
  > div:last-child {
    font-weight: var(--weight-bold);
  }
}

.jk-code-mirror-editor-expanded-layout {
  z-index: 50;
  
  .jk-code-mirror-editor-layout {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}

.jk-menu-collapse {
  top: 56px !important;
}

.height-100-percent {
  height: 100%;
}

.sheet-page {
  > div > div > .jk-md-math-viewer-layout {
    width: 100%;
    background-color: var(--t-color-white);
    border-radius: var(--pad-xt);
    padding: var(--pad-xt);
  }
  
  .jk-md-math-editor-layout {
    background-color: var(--t-color-white);
    width: 100%;
    min-height: 48px;
  }
  
  > div {
    margin: var(--pad-t) 0;
  }
}

.width-auto {
  width: auto;
}
