@import "@bit/juki-team.juki.base-ui/components/styles/base/_index.scss";
@import "components/NavigationBar/styles";
@import "components/Layouts/styles";
@import "components/problem/styles";

body {
  margin: 0;
  
  background-color: var(--t-color-white-2);
  
  .jk-app {
    width: 100vw;
    height: 100vh;
  }
}

.main-content {
  padding: var(--pad-m) 0 var(--pad-m) 0;
  height: calc(100vh - var(--heigh-horizontal-menu));
  box-sizing: border-box;
  
  > section > div > div > h3 {
    text-align: center;
  }
  
  .extra-buttons {
    margin-left: var(--pad-t);
  }
  
  .jk-tabs-layout {
    height: calc(100% - 96px);
    
    &:before {
      display: none;
    }
    
    .jk-tabs-content {
      margin-top: var(--pad-t);
      background-color: var(--t-color-white);
      height: calc(100% - 60px);
      @extend .jk-border-radius;
      overflow-x: auto;
    }
  }
}
