@import "@bit/juki-team.juki.base-ui/components/styles/base/_index.scss";
@import "components/NavigationBar/styles";
@import "components/Layouts/styles";

body {
  margin: 0;
  
  background-color: var(--t-color-white-2);
  
  .jk-app {
    width: 100vw;
    height: 100vh;
  }
}

.main-content {
  padding: var(--pad-xt) 0 var(--pad-m) 0;
  height: 100%;
  box-sizing: border-box;
  
  .extra-buttons {
    margin-left: var(--pad-t);
  }
}

