@import "@bit/juki-team.juki.base-ui/components/styles/base/_index.scss";
@import "components/NavigationBar/styles";
@import "components/Layouts/styles";
@import "components/problem/styles";

body {
  margin: 0;
  
  background-color: var(--t-color-white-2);
  
  .jk-app {
    width: 100vw;
    height: 100vh;
  }
}

.image-404 {
  max-height: calc(100vh - 300px);
  width: calc(100vw - 400px);
  max-width: 512px;
  min-width: 200px;
}
