@import "@juki-team/base-ui/dist/styles/base";
@import "components/NavigationBar/styles";
@import "components/Layouts/styles";
@import "components/problem/styles";
@import "components/profile/styles";
@import "components/contest/styles";

body {
  @include md {
    --top-horizontal-menu-height: 56px;
  }
  @include lg {
    --top-horizontal-menu-height: 56px;
  }
  
  margin: 0;
  
  .jk-app {
    width: 100vw;
    height: var(--100VH);
  }
}

.flex-1 { flex: 1; }

.flex-2 { flex: 2; }

.flex-3 { flex: 3; }

.flex-4 { flex: 4; }

.flex-5 { flex: 5; }

.flex-6 { flex: 6; }

.image-404 {
  max-height: calc(var(--100VH) - 300px);
  width: calc(100vw - 400px);
  max-width: 512px;
  min-width: 200px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: var(--t-color-primary-light);
}

.content-title {
  h3 {
    text-align: center;
  }
}

.notification-wrapper {
  margin-top: var(--top-horizontal-menu-height);
  
  .message-content {
    min-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.relative {
  position: relative;
}

.jk-table-inline-header, .jk-table-inline-row {
  > div {
    padding: 0 var(--pad-xt);
  }
}

.jk-table-inline-header {
  box-sizing: border-box;
  border: 1px solid var(--t-color-gray-5);
  border-radius: var(--border-radius-inline) var(--border-radius-inline) 0 0;
  color: var(--t-color-primary);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
}

.jk-table-inline-row {
  padding: var(--pad-xt) 0;
  box-sizing: border-box;
  border-bottom: 1px solid var(--t-color-gray-5);
  border-left: 1px solid var(--t-color-gray-5);
  border-right: 1px solid var(--t-color-gray-5);
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.absolute {
  position: absolute;
  
  &.top {
    top: var(--pad-md);
  }
  
  &.right {
    right: var(--pad-md);
  }
  
  &.bottom {
    bottom: var(--pad-md);
  }
  
  &.left {
    left: var(--pad-md);
  }
}

li > * {
  vertical-align: text-top;
}

.letter-tag {
  margin-right: 4px;
  height: 20px;
  width: 20px;
  min-width: 20px;
  box-sizing: border-box;
  padding: 0;
  line-height: 20px;
}

.max-popover-select-size {
  .jk-select-options {
    width: 300px !important;
  }
}

.jk-md-math-editor-style {
  .content-preview {
    min-height: 141px;
  }
}

.text-lang-edit {
  min-height: 215px;
  
  .jk-md-math-editor-layout {
    @extend .jk-md-math-editor-style;
  }
}

.problem-statement.editing {
  .jk-md-math-editor-layout {
    @extend .jk-md-math-editor-style;
  }
}

.width-120px {
  width: 120px;
  display: none;
}

.next-js-image { // Remove fot NextJs 13
  > span {
    overflow: visible !important;
  }
}
