@import "@juki-team/base-ui/dist/styles/abstracts/index";

.groups-popover {
  width: 150px;
}

.problem-info {
  &:not(.horizontal) {
    min-width: 300px;
    
    .label {
      margin-right: var(--pad-xt);
    }
  }
  
  &.horizontal {
    position: sticky !important;
    top: 0;
    padding: var(--pad-t) 0;
    
    .label {
      font-weight: var(--weight-semi-bold);
      line-height: 14px;
    }
    
    > div {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      
      > span {
        > span:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

.problem-content {
  .problem-statement:not(.problem-contest-statement) {
    padding: var(--pad);
  }
  
  .problem-contest-statement {
    padding: 0 var(--pad);
  }
  
  .points {
    padding-left: var(--pad-m);
  }
  
  > div:first-child {
    flex: 3;
  }
  
  > div:last-child {
    flex: 1;
  }
}

.sample-text-content {
  width: 100%;
  padding: var(--pad-xt);
  border: 1px solid var(--t-color-gray-6);
  position: relative;
  
  .jk-icon {
    position: absolute;
    right: var(--pad-xt);
  }
  
  > span {
    background-color: var(--t-color-shadow-lightest) !important;
    white-space: pre;
    font-family: monospace;
  }
}

.permissions-box {
  .permission {
    .label-permission {
      width: 80px;
    }
    
    input {
      padding: 0;
      width: 20px;
      text-align: center;
    }
  }
}

.alert-modal-json-viewer {
  max-height: calc(var(--100VH) - 300px);
  overflow: auto;
  border: 1px solid var(--t-color-gray-4);
}

.title-editable {
  height: 42px;
}

.submission-info-code-source {
  position: relative;
  
  .jk-code-viewer {
    > pre {
      max-height: 400px;
      max-width: calc(var(--modal-width) - var(--pad) - var(--pad));
      box-sizing: border-box;
      overflow: auto;
    }
  }
}

.color-info {
  .jk-tag {
    color: var(--t-color-info);
  }
}