@import "@juki-team/base-ui/dist/styles/abstracts/index";

.groups-popover {
  width: 150px;
}

.problem-info {
  &:not(.horizontal) {
    min-width: 300px;
    
    .label {
      margin-right: var(--pad-xt);
    }
  }
  
  &.horizontal {
    position: sticky !important;
    top: 0;
    padding: var(--pad-t) 0;
    
    .label {
      font-weight: var(--weight-semi-bold);
      line-height: 14px;
    }
    
    > div {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      
      > span {
        > span:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

.problem-sub-info {
  padding-left: var(--pad-sm);
}

.problem-content {
  .problem-statement:not(.problem-contest-statement) {
    padding: var(--pad-md);
  }
  
  .problem-contest-statement {
    padding: 0 var(--pad-md);
  }
  
  > div:first-child {
    flex: 3;
  }
  
  > div:last-child {
    flex: 1;
  }
}

.sample-text-content {
  width: 100%;
  padding: var(--pad-xt);
  border: 1px solid var(--t-color-gray-6);
  position: relative;
  min-height: 26px;
  
  .jk-icon {
    position: absolute;
    right: var(--pad-xt);
  }
  
  > span:not(.jk-icon) {
    background-color: var(--t-color-shadow-light) !important;
    white-space: pre;
    font-family: monospace;
  }
}

.alert-modal-json-viewer {
  max-height: calc(var(--100VH) - 300px);
  overflow: auto;
  border: 1px solid var(--t-color-gray-4);
}

.submission-info-code-source {
  position: relative;
  
  .jk-code-viewer {
    > pre {
      max-height: 400px;
      max-width: calc(var(--modal-width) - var(--pad-md) - var(--pad-md));
      box-sizing: border-box;
      overflow: auto;
    }
  }
}

.cr-io {
  .jk-tag {
    color: var(--t-color-info);
  }
}

.group-info {
  .jk-icon {
    @include transition(transform);
  }
}

.group-info-details {
  padding: 0 var(--pad);
  box-sizing: border-box;
  border-left: 1px solid var(--t-color-gray-5);
  border-right: 1px solid var(--t-color-gray-5);
  border-bottom: 1px solid var(--t-color-gray-5);
  background-color: var(--t-color-white-2);
  
  .jk-table-inline-row {
    border-left: 0;
    border-right: 0;
  }
  
  .jk-table-inline-row:last-child {
    border-radius: 0;
    border-bottom: 0;
  }
  
  > div > div:first-child {
    max-width: 64px;
  }
}

.submission-stderr-content {
  overflow: auto;
  max-width: calc(var(--modal-width) - var(--pad-md) - var(--pad-md));
  max-height: calc(var(--100VH) - 600px);
  margin: var(--pad-md) 0;
}
