.navbar {
  width: 240px;
}

.settings-popover {
  width: 200px;
}

.more-apps-popover {
  width: 240px;
  
  .jk-row {
    flex-wrap: nowrap;
    width: 220px;
    opacity: 0.4;
    
    .jk-icon {
      min-width: 18px;
      margin: 0 2px 0 4px;
    }
  }
}

.settings-apps-login-user-content {
  margin-right: var(--pad-m);
}

.user-logged-head {
  .nickname {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: center;
  }
}

.user-profile-popup {
  width: 200px;
}
