@import "@juki-team/base-ui/dist/styles/abstracts/index";

.settings-popover {
  width: 200px;
}

.jk-drawer-body {
  .mobile-left-side-header {
    border-bottom: 1px solid var(--t-color-white);
  }
}

.mobile-left-side-header {
  height: var(--top-horizontal-menu-height);
  overflow: hidden;
  
  > div:first-child {
    width: 64px;
  }
  
  .jk-image {
    width: 64px;
  }
}

.left-mobile-content {
  height: calc(var(--100VH));
}

.jk-horizontal-menu-mobile-right {
  padding-right: var(--pad-t);
}

.more-apps-popover {
  width: 240px;
  
  > div {
    text-align: center;
  }
  
  .jk-row {
    flex-wrap: nowrap;
    width: 220px;
    //opacity: 0.4;
    
    .jk-icon {
      min-width: 18px;
      margin: 0 2px 0 4px;
    }
  }
}

.settings-apps-login-user-content {
  //margin-right: var(--pad-m);
  .jk-icon {
    color: var(--t-color-primary-text);
  }
}

.user-logged-head {
  padding: var(--pad-xt);
  
  &:hover {
    background: var(--t-color-shadow-darkest);
  }
  
  .nickname {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: block;
    @include sm { display: none; }
  }
}

.user-profile-popup {
  width: 200px;
}

.modal-user-preview {
  max-width: 460px;
  min-height: 200px;
  
  .jk-modal-body {
    > .jk-row {
      min-height: 200px;
    }
    
    > .jk-col > .jk-row:first-child {
      padding: var(--pad-m) 0;
    }
  }
  
  .jk-row img {
    width: 100px;
    height: 100px;
  }
}

.mobile-left-side-header {
  color: var(--t-color-primary-text);
}

.language-select {
  .jk-select {
    margin: 0 2px;
    display: flex;
    justify-content: space-around;
    padding: 0;
    
    .input-icon {
      position: relative;
      width: var(--pad-t);
      min-width: var(--pad-t);
    }
  }
}
