@import "@bit/juki-team.juki.base-ui/components/styles/abstracts/index";

.navbar {
  width: 240px;
  @include md {
    width: auto;
    margin: 0 var(--pad-m);
  }
}

.settings-popover {
  width: 200px !important;
}

.jk-drawer-body {
  .mobile-left-side-header {
    border-bottom: 1px solid var(--t-color-white);
  }
}

.mobile-left-side-header {
  height: var(--top-horizontal-menu-height);
  width: 216px;
  overflow: hidden;
  
  > div:first-child {
    width: 64px;
  }
  
  .jk-image {
    width: 64px;
  }
}

.left-mobile-content {
  //height: calc(var(--100VH) - var(--mobile-bottom-horizontal-menu-height)) !important;
}

.jk-horizontal-menu-mobile-right {
  padding-right: var(--pad-t);
}

.more-apps-popover {
  width: 240px;
  
  .jk-row {
    flex-wrap: nowrap;
    width: 220px;
    opacity: 0.4;
    
    .jk-icon {
      min-width: 18px;
      margin: 0 2px 0 4px;
    }
  }
}

.settings-apps-login-user-content {
  margin-right: var(--pad-m);
}

.user-logged-head {
  .nickname {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: center;
  }
}

.user-profile-popup {
  width: 200px;
}

.modal-user-preview {
  max-width: 460px;
  min-height: 200px;
  
  .jk-modal-body {
    > .jk-row {
      min-height: 200px;
    }
    
    > .jk-col > .jk-row:first-child {
      padding: var(--pad-m) 0;
    }
  }
  
  .jk-row img {
    width: 100px;
    height: 100px;
  }
}
