@import "@juki-team/base-ui/dist/styles/abstracts/index";

.jk-drawer-body {
  .mobile-left-side-header {
    border-bottom: 1px solid var(--t-color-white);
  }
}

.mobile-left-side-header {
  height: var(--top-horizontal-menu-height);
  overflow: hidden;
  
  > div:first-child {
    width: 64px;
  }
  
  .jk-image {
    width: 64px;
  }
}

.jk-horizontal-menu-mobile-right {
  padding-right: var(--pad-t);
}

.mobile-left-side-header {
  color: var(--t-color-primary-text);
}

.jk-horizontal-menu-layout-container {
  overflow: hidden;
}

