@import "@bit/juki-team.juki.base-ui/components/styles/abstracts/index";

.title-layout {
  background-color: var(--t-color-white);
  height: 128px;
  
  > div {
    width: var(--screen-content-width);
  }
}

.content-layout, .two-content-layout {
  .extra-buttons {
    margin-left: var(--pad-t);
  }
}

.content-layout {
  padding: var(--pad-m) 0 var(--pad-m) 0;
  height: calc(var(--100VH) - var(--top-horizontal-menu-height) - var(--mobile-bottom-horizontal-menu-height));
  box-sizing: border-box;
  
  > div {
    height: 100%;
    width: var(--screen-content-width);
  }
}

.two-content-layout {
  padding: var(--pad-m) 0 var(--pad-m) 0;
  height: calc(var(--100VH) - var(--top-horizontal-menu-height) - var(--mobile-bottom-horizontal-menu-height));
  box-sizing: border-box;
  
  > div {
    width: var(--screen-content-width);
    
    > .jk-tabs-layout {
      height: 100%;
      
      > div:first-child {
        margin-bottom: var(--pad-t);
      }
      
      &:before {
        display: none;
      }
      
      > .jk-tabs-content {
        box-sizing: border-box;
        background-color: var(--t-color-white);
        @extend .jk-border-radius;
        @extend .jk-shadow;
        overflow-x: auto;
        
        .jk-view-container {
          box-shadow: none;
        }
      }
    }
  }
}
