@import "@juki-team/base-ui/dist/styles/abstracts/index";

.pad-left-right {
  padding-left: var(--pad-border);
  padding-right: var(--pad-border);
}

.pad-top {
  padding-top: var(--pad-border);
}

.pad-bottom {
  padding-bottom: var(--pad-border);
}

.pad-top-bottom {
  padding-top: var(--pad-border);
  padding-bottom: var(--pad-border);
}

.two-content-section {
  width: 100%;
  height: calc(var(--100VH) - var(--top-horizontal-menu-height));
  
  &:before {
    content: "";
    width: 100vw;
    height: var(--first-content-section-height);
    position: absolute;
    top: var(--top-horizontal-menu-height);
    left: 0;
    @extend .elevation-1;
    background-color: var(--t-color-white);
    z-index: 1;
  }
  
  > div {
    box-sizing: border-box;
    width: 100%;
  }
  
  > div:first-child {
    z-index: 1;
  }
  
  > div:last-child {
    overflow: auto;
    height: calc(var(--100VH) - var(--first-content-section-height) - var(--top-horizontal-menu-height));
    width: 100%;
  
    > div {
      height: 100%;
      box-sizing: border-box;
    
      div.jk-data-viewer-layout {
        height: 100%;
        width: 100%;
        
        .jk-data-viewer-content {
          .jk-data-viewer-body {
            border-left: 1px solid var(--t-color-gray-6);
            border-right: 1px solid var(--t-color-gray-6);
            border-bottom: 1px solid var(--t-color-gray-6);
          }
  
          .jk-view-container.rows {
            background-color: transparent;
    
            .jk-table-head {
              @extend .jk-border-radius-inline;
            }
    
            .jk-data-viewer-body.rows {
              box-shadow: 0 -20px 20px -24px var(--t-color-shadow) inset, 0 -20px 20px -24px var(--t-color-shadow) inset;
            }
          }
          
          .jk-data-viewer-toolbar.cards {
            background-color: transparent;
            border-bottom: 1px solid var(--t-color-gray-5);
            @extend .jk-border-radius-inline;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

.title-layout {
  background-color: var(--t-color-white);
  height: 128px;
  
  > div {
    width: var(--screen-content-width);
  }
}

:root {
  --content-height: calc(var(--100VH) - var(--top-horizontal-menu-height));
}

.bottom-badge-with-animation { // not used
  z-index: 1000;
  padding: var(--pad-xt);
  position: fixed;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 0;
  background: var(--t-color-accent);
  height: calc(24px);
  width: calc(24px);
  overflow: hidden;
  @include transition(height);
  right: var(--pad-m);
  @include sm { right: calc(var(--pad-xh) + var(--pad-xh)); }
  
  .close {
    display: none;
  }
  
  &.open {
    @include transition(height);
    @include transition(width);
    height: calc(96px + 24px);
    width: 240px;
    
    .close {
      display: initial;
    }
  }
  
  &.focus {
    animation: focus-shadow 1s forwards infinite;
  }
}

@keyframes focus-shadow {
  0% {
  
  }
  50% {
    box-shadow: 0 0 64px 0 var(--t-color-shadow);
  }
  100% {
  
  }
}
