@import "@juki-team/base-ui/dist/styles/abstracts/index";

.title-layout {
  background-color: var(--t-color-white);
  height: 128px;
  
  > div {
    width: var(--screen-content-width);
  }
}

.content-layout, .two-content-layout {
  padding: var(--pad-md) 0 var(--pad-md) 0;
  height: var(--content-height);
  box-sizing: border-box;
  
  .extra-buttons {
    margin-left: var(--pad-t);
  }
}

:root {
  --content-height: calc(var(--100VH) - var(--top-horizontal-menu-height) - var(--mobile-bottom-horizontal-menu-height));
}

.content-layout {
  > div {
    height: 100%;
    width: var(--screen-content-width);
  }
}

.content-layout, .two-content-layout {
  > div {
    > div.jk-tabs-layout {
      height: 100%;
      
      > div.jk-tabs-header:first-child {
        //margin-bottom: var(--pad-t);
        &:before {
          border: none;
          content: none;
        }
      }
      
      &:before {
        display: none;
      }
      
      > .jk-tabs-content {
        box-sizing: border-box;
        background-color: var(--t-color-white);
        border-radius: 0 var(--border-radius-inline) var(--border-radius-inline) var(--border-radius-inline);
        @extend .jk-shadow;
        overflow-x: auto;
        height: calc(100% - var(--tabs-header-height));
        
        .jk-view-container {
          border-top: 1px solid var(--t-color-gray-6);
          border-radius: 0;
          box-shadow: none;
          box-sizing: border-box;
        }
      }
    }
  }
}

.two-content-layout {
  overflow: hidden;
  
  > div {
    width: var(--screen-content-width);
    
    > .jk-tabs-layout {
    
    }
  }
}
