@import "@juki-team/base-ui/dist/styles/abstracts/index";

.title-layout {
  background-color: var(--t-color-white);
  height: 128px;
  
  > div {
    width: var(--screen-content-width);
  }
}

.content-layout, .two-content-layout {
  padding: var(--pad-md) 0 var(--pad-md) 0;
  box-sizing: border-box;
}

:root {
  --content-height: calc(var(--100VH) - var(--top-horizontal-menu-height) - var(--mobile-bottom-horizontal-menu-height));
}

.content-layout {
  > div {
    height: 100%;
    width: var(--screen-content-width);
    
    > .jk-data-viewer-layout {
      height: calc(var(--100VH) - var(--pad-md) - var(--pad-md) - var(--top-horizontal-menu-height) - var(--mobile-bottom-horizontal-menu-height));
  
      .jk-view-container {
        border: 1px solid var(--t-color-gray-6);
        @extend .jk-border-radius-inline;
      }
    }
    
    > .jk-tabs-layout {
      > .jk-tabs-content {
        > div > .jk-data-viewer-layout {
          --tab-content-min-height: calc(var(--100VH) - var(--pad-md) - var(--pad-md) - var(--tabs-header-height) - var(--top-horizontal-menu-height) - var(--mobile-bottom-horizontal-menu-height));
          height: 100px;
        }
      }
    }
  }
}

.content-layout, .two-content-layout {
  > div {
    width: var(--screen-content-width);
    
    > div.jk-tabs-layout {
      min-height: var(--second-content-layout-min-height, 100%);
      
      > div.jk-tabs-header:first-child {
        &:before {
          border: none;
          content: none;
        }
      }
      
      &:before {
        display: none;
      }
      
      > .jk-tabs-content {
        box-sizing: border-box;
        background-color: var(--t-color-white);
        border-radius: 0 var(--border-radius-inline) var(--border-radius-inline) var(--border-radius-inline);
        //@extend .jk-shadow;
        //overflow-x: auto;
        overflow-x: visible;
        --tab-content-min-height: calc(var(--second-content-layout-min-height, 100%) - var(--tabs-header-height));
        min-height: var(--tab-content-min-height);
        margin-bottom: var(--mobile-bottom-horizontal-menu-height);
  
        //min-height: calc(var(--tab-content-min-height) - 2px);
        //height: calc(var(--tab-content-min-height) - 2px);
  
        > div > div {
          border: 1px solid var(--t-color-gray-6);
          @extend .jk-border-radius-inline;
          border-top-left-radius: 0;
        }
  
        > div {
          min-height: var(--tab-content-min-height);
    
          > .jk-data-viewer-layout {
            height: calc(var(--tab-content-min-height) - 2px);
            //height: var(--tab-content-min-height);
      
            .jk-view-container {
              .jk-table-rows-container {
                //overflow: hidden !important;
              }
            }
          }
          
          > .jk-code-mirror-editor-layout {
            height: var(--tab-content-min-height);
          }
        }
        
        .jk-view-container {
          &.rows {
            border-top: 1px solid var(--t-color-gray-6);
          }
  
          border-radius: 0;
          box-shadow: none;
          box-sizing: border-box;
        }
      }
    }
  }
}

.two-content-layout {
  //overflow: hidden;
}

.need-help-container {
  z-index: 1000;
  padding: var(--pad-xt);
  position: fixed;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: var(--mobile-bottom-horizontal-menu-height);
  right: var(--pad-m);
  background: var(--t-color-accent);
  height: calc(24px);
  width: calc(24px);
  overflow: hidden;
  @include transition(height);
  
  .close {
    display: none;
  }
  
  &.open {
    @include transition(height);
    @include transition(width);
    height: calc(96px + 24px);
    width: 260px;
    
    .close {
      display: initial;
    }
  }
  
  &.focus {
    animation: focus-shadow 1s forwards infinite;
  }
}

@keyframes focus-shadow {
  0% {
  
  }
  50% {
    box-shadow: 0 0 64px 0 var(--t-color-shadow);
  }
  100% {
  
  }
}
